html {
  font-size: 10px;
  font-family: 'Open Sans';
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--header-background);
}

div {
  text-align: center;
}
